<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Users</title>
  <style>
    body {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100vh;
      margin: 0;
    }
    h1 {
      position: absolute;
      top: 0;
      padding: 20px;
    }
    table {
      border-collapse: collapse;
      width: 80%;
    }
  </style>
</head>
<body>
<h1>Список пользователей</h1>
<a href="/admin/new">
  <button>Добавить пользователя</button>
</a>
<br>
<br>
<br>
<table th:border="5">
  <tr>
    <th>Id</th>
    <th>Username</th>
    <th>Name</th>
    <th>Lastname</th>
    <th>Password</th>
    <th>Email</th>
    <th>Role</th>
    <th>Actions</th>

  </tr>
  <tr th:each="user : ${user}">
    <td th:text="${user.id}">id</td>
    <td th:text="${user.username}">Username</td>
    <td th:text="${user.name}">Username</td>
    <td th:text="${user.lastName}">Lastname</td>
    <td th:text="${user.password}">password</td>
    <td th:text="${user.email}">email</td>
    <td>
                <span th:each="role : ${user.roleList}">
                    <span th:text="${role.status}"></span>
                </span>
    </td>

    <td>
      <form th:method="POST" th:action="@{/admin/delete?id={id}(id=${user.id})}" style="display: inline">
        <input type="submit" value="Удалить">
      </form>
      <a th:href="@{/admin/edit?id={id}(id=${user.id})}">
        <button>Изменить</button>
      </a>
    </td>
  </tr>
</table>
<br>
<br>
<form  th:action="@{/user}" th:method="GET">
  <input type="submit" class="button center" value="Личный кабинет"/>
</form>
<hr>
<form  th:action="@{/logout}" th:method="POST">
  <input type="submit" value="Выйти"/>
</form>
<hr>
</body>
</html>
