<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Изменение пользователя</title>
  <style>
    body {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100vh;
      margin: 0;
    }
    h1 {
      position: absolute;
      top: 0;
      padding: 20px;
    }

  </style>
</head>
<body>
<h3>Изменить пользователя</h3>
<br>
<form th:method="POST" th:action="@{/admin/edit?id={id}(id=${user.id})}" th:object="${user}">
  <label for="username"> Enter username </label>
  <input type="text" th:field="*{username}" id="username"/>
  <label for="name"> Enter name </label>
  <input type="text" th:field="*{name}" id="name"/>
  <label for="lastName"> Enter last name </label>
  <input type="text" th:field="*{lastName}" id="lastName"/>

  <label for="age"> Enter age </label>
  <input type="text" th:field="*{age}" id="age"/>

  <label for="password"> Enter password </label>
  <input type="text" th:field="*{password}" id="password"/>
  <label for="email"> Enter email </label>
  <input type="text" th:field="*{email}" id="email"/>

  <label>
    <select th:field="*{roleList}" multiple="multiple" required>
      <option th:each="role : ${role}"
              th:value="${role.id}"
              th:text="${role.status}">

      </option>
    </select>
  </label>
  <br>
  <br>
  <input type="submit" value="Изменить">
</form>

<form  th:action="@{/logout}" th:method="POST">
  <input type="submit" value="Выйти"/>
</form>

</body>
</html>